.categories {
    display: flex;
    width: 100%;
    min-height: min-content;
    font-size: 70%;
    background-image: url("/background.jpg");
}

.category__sections {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 4px;
    background-color: #221F1F;
    margin-top: 0;
}

.category__sections li {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 0;
    border: 2px solid white;
}

.category__link {
    stroke: #A5D4D9;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in-out;
}

.category__link span {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    gap: 2px;
    padding: 4px 0 4px 0;
}

.category__link h4 {
    font-style: italic;
    font-weight: bold;
    color: white;
    transition: all 0.2s ease-in-out;
    margin: 0;
}

.category__link:hover h4 {
    color: white;
}

.category__link:hover {
    cursor: pointer;
    background-color: #3E77AA;
}

.category__link:focus {
    background-color: #3E77AA;
}

.category__link:focus h4 {
    color: white;
}

.categories__icon {
    display: block;
    fill: aliceblue;
    width: 40px;
    height: 40px;
}


@media (max-width: 480px) {
    .categories {
        font-size: 30%;
    }

    .category__sections {
        padding: 0;
    }

    .category__link svg {
        width: 30px;
        height: 30px;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .categories {
        font-size: 30%;
        padding: 0;
    }

    .category__link svg {
        width: 30px;
        height: 30px;
    }
}