.sort__wrap {
    align-self: center;
    display: flex;
    flex-direction: column;
    background-color: azure;
    font-size: 16px;
    border: 1px solid rgba(26, 26, 26, 0.2);
    border-radius: 6px;
    width: 20vw;
    padding: 10px 10px;
    z-index: 10;
    position: relative;
    cursor: pointer;
}

.sort__wrap:active .sort__label svg{
  transform: translateY(1px);
}

.sort__label {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sort__label svg {
    opacity: 0.7;
}

.sort__label span {
    overflow: hidden;
    height: 100%;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.sort__popup {
    display: flex;
    hyphens: auto;
}

.sort__popup ul {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.sort__popup ul li {
    list-style: none;
    padding: 5px;
    transition: all 0.1s ease-in-out;
    margin-left: 4%;
}

.active {
    background-color: #adb3b8;

}

.sort__popup ul li:hover {
    background-color: #3E77AA;
    color: white;
}


@media (max-width: 302px) {
    .sort__wrap {
        display: none;
    }
}

@media (min-width: 302px) and (max-width: 622px) {
    .sort__wrap {
        width: 40vw;
        padding: 4%;
    }
}

@media (min-width: 623px) and (max-width: 797px) {
    .sort__wrap {
        width: 32vw;
    }
}