
.slider_wrap {
    width: 100%;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.slider__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.slider__main_img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.slider__next {
    border: 1px solid;
    display: flex;
    gap: 5px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    transition: transform 0.5s ease-in-out;
}

.slider__next_img {
    width: 100px;
    height: 100px;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    cursor: pointer;
}

.activeSlide {
    border: 3px solid green;
    transition: border 0.3s ease-in-out;
}

.nextSlide {
    opacity: 0.5;
}

.arrow_left,
.arrow_right {
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s;
    position: absolute;
    top: 50%;
}

.arrow_left {
    left: 10px;
}

.arrow_right {
    right: 10px;
}

.arrow_left:hover,
.arrow_right:hover {
    opacity: 1;
}