.filter__wrap {
    position: absolute;
    display: flex;
    flex-direction: row;
    z-index: 10;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    top: -2%;
    max-width: 100vw;
    min-height: max-content;
    width: 100%;
    transition: all 0.3s ease-in-out;
    transform: translateX(-100%);
    background-color: rgba(0, 0, 0, 0.5);
}

.filters__main {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    min-width: 24vw;
    padding: 10px 10px 25px 20px;
}

.filters__background {
    width: 100vw;
    height: 100vh;
}

.hidden,
.open {
    transition: all 0.3s ease-in-out;
}

.filter__wrap.hidden {
    transform: translateX(-100%);
}

.filter__wrap.open {
    transform: translateX(0);
}

.clouse__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clouse__wrap button {
    padding: 4px 2px 4px 2px;
    max-height: fit-content;
    border-color: blue;
    border-radius: 4px;
    background-color: rgb(216, 216, 249);
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.clouse__wrap button:active {
    transform: translateY(1px);
}

.clouse {
    display: flex;
    align-items: center;
    gap: 5%;
    font-size: 22px;
}

.clouse svg {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.clouse h4 {
    cursor: pointer;
}

.products_groop {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-bottom: 1px solid #BFFFE9;
    padding-top: 2%;
    padding-bottom: 5%;
}

.products_groop h4 {
    padding-bottom: 3%;
    text-align: center;
    font-size: 20px;
    margin-bottom: 0;
}

.products_groop span {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    padding-left: 10px;
}

.products_groop__colours {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 10px;
}

.products_groop__colours .color {
    width: 20px;
    height: 20px;
    background-color: transparent;
}

.selected {
    outline: 2px solid black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.products_groop__wrap_gender {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #BFFFE9;
    padding-top: 10%;
    padding-bottom: 10%;
}

.products_groop__wrap_gender h4 {
    margin: 10px;
    padding-bottom: 5%;
}

.products_groop__gender {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.products_groop__gender svg {
    transition: transform 200ms ease-in-out;
}

.select svg circle {
    fill: #BFFFE9;
}

.products_groop__gender svg:hover {
    transform: translateY(0.5px);
    cursor: pointer;
}

@media (max-width: 480px) and (max-height: 1000px) {

    .filter__wrap {
        position: fixed;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
    }

    .filters__main {
        overflow-y: auto;
        flex: 0 0 100vw;
        max-height: 100vh;
        min-width: 98vw;
        padding-left: 5%;
        padding-top: 5%;
        padding-bottom: 10%;
    }

    .clouse__wrap button {
        font-size: 40%;
        padding: 2%;
    }

    .clouse {
        max-width: fit-content;
        min-height: fit-content;
    }

    .clouse h4 {
        margin: 0;
    }

    .clouse svg {
        width: 18%;
        height: 18%;
    }

    .products_groop {
        gap: 3px;
    }

    .filters__main h4 {
        text-align: start;
        display: block;
        width: max-content;
    }

    .products_groop__wrap_gender h4 {
        margin-left: 0;
        margin-top: 10px;
        margin-bottom: 3px;
        font-size: 20px;
        align-self: center;
    }

    .products_groop h4 {
        font-size: 22px;
        margin-top: 10%;
        align-self: center;
    }

    .products_groop span {
        font-size: 18px;
        padding-left: 0;
        gap: 5px;
    }

    .products_groop input {
        min-width: 16px;
        min-height: 16px;
        margin-right: 3%;
    }

    .products_groop__gender svg {
        width: 50px;
        height: 50px;
        margin-bottom: 0;
    }

    .products_groop__gender {
        gap: 15px;
    }
}

@media (min-width: 480px) and (max-width: 768px) {

    .filter__wrap {
        height: 100vh;
    }

    .filters__main {
        flex: 0 0 70vw;
        min-height: max-content;
        padding-left: 5%;
        padding-top: 5%;
    }

    .products_groop {
        gap: 3px;
    }

    .filters__main h4 {
        font-size: 30px;
        text-align: start;
        display: block;
        width: max-content;
    }

    .products_groop__wrap_gender h4 {
        text-align: center;
        margin-bottom: 3px;
    }

    .products_groop span {
        font-size: 22px;
        padding-left: 0;
        gap: 5px;
    }

    .clouse__wrap button {
        font-size: 18px;
    }

    .clouse {
        max-width: fit-content;
        min-height: fit-content;
    }

    .clouse h4 {
        margin: 0;
    }

    .clouse svg {
        width: 40px;
        height: 40px;
    }

    .products_groop__gender {
        gap: 30px;
    }

    .products_groop__wrap_gender h4 {
        margin-left: 0;
        margin-top: 40px;
        margin-bottom: 3px;
        font-size: 30px;
    }

    .products_groop input {
        min-width: 20px;
        min-height: 20px;
        margin-right: 3%;
    }

    .products_groop__gender svg {
        width: 50px;
        height: 50px;
    }

    .products_groop__colours .color {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {

    .filters__main {
        min-height: max-content;
    }

    .filters__main h4 {
        font-size: 34px;
    }

    .products_groop__wrap_gender h4 {
        margin-top: 0;
        align-self: center;
    }

    .products_groop h4 {
        font-size: 34px;
        align-self: center;
        margin: 0;
    }

    .products_groop span {
        font-size: 28px;
    }

    .clouse__wrap {
        margin-bottom: 10%;
    }

    .clouse__wrap button {
        font-size: 24px;
    }

    .clouse svg {
        width: 45px;
        height: 45px;
    }

    .products_groop input {
        min-width: 25px;
        min-height: 25px;
        margin-right: 3%;
    }

    .products_groop__gender svg {
        width: 70px;
        height: 70px;
        margin: 0;
        padding: 0;
    }

    .products_groop__colours .color {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }

}

@media (max-width: 1569px) {

    .filter__wrap {
        top: 0;
    }

}

@media (max-width: 1200px) and (max-height: 1369px) {

    .filters__main {
        min-width: 70vw;
    }

    .filter__wrap {
        height: 100vh;
    }

    .filters__main {
        flex: 0 0 70vw;
        max-height: 100vh;
        padding-left: 5%;
        padding-top: 5%;
    }
}