.filter__wrap {
    display: flex;
    flex-direction: column;
    border: 1px solid #B8DEE3;
    border-radius: 2px;
    margin-bottom: 40px;
    padding: 10px;
}

.products_groop {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.products_groop h4 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 22px;
}

.products_groop span {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    padding-left: 10px;
}

.products_groop__colours {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 10px;
}

.products_groop__colours .color {
    width: 20px;
    height: 20px;
    background-color: transparent;
}

.selected {
    outline: 2px solid black; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.products_groop__wrap_gender {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 22px;
    box-sizing: border-box;

}
.products_groop__gender {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.products_groop__gender svg {
    transition: transform 200ms ease-in-out;
}

.select svg circle {
    fill: #BFFFE9;
}

.products_groop__gender svg:hover {
    transform: translateY(0.5px);
    cursor: pointer;
}

@media (max-width: 480px) {
    .products_groop {
        gap: 3px;
    }
    .filter__wrap h4 {
        font-size: 12px;
        text-align: start;
        margin-bottom: 0;
        display: block;
        width: max-content;
    }
    .products_groop__wrap_gender h4 {
        text-align: center;
        margin-bottom: 3px;
    }
    .products_groop span {
        font-size: 10px;
        padding-left: 0;
        gap: 5px;
    }
    .filter__wrap svg{
       width: 30px;
       height: 30px;
    }
    .products_groop__gender {
        gap: 10px;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .products_groop {
        gap: 3px;
    }
    .filter__wrap h4 {
        font-size: 12px;
        text-align: start;
        margin-bottom: 0;
        display: block;
        width: max-content;
    }
    .products_groop__wrap_gender h4 {
        text-align: center;
        margin-bottom: 3px;
    }
    .products_groop span {
        font-size: 10px;
        padding-left: 0;
        gap: 5px;
    }
    .filter__wrap svg{
       width: 30px;
       height: 30px;
    }
    .products_groop__gender {
        gap: 10px;
    }
}