html,
body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    user-select: none;
    /* border: 1px solid red; */
}

.body_layout {
    font-size: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: max-content;
    position: relative;
}


a {
    text-decoration: none;
    color: inherit;
}