html,
body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/BagsShop/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    user-select: none;
}

.body_layout {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: max-content;
}

a {
    text-decoration: none;
    color: inherit;
}