.main_page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.main_page__head {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70vh;
    position: relative;
    background-image: url('/backgr_twince.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.main_page__lozung {
    position: absolute;
    right: 43%;
    top: 20px;
}

.main_page__logo {
    position: absolute;
    top: 40px;
    left: 30px;
}

.main_page__section2 {
    display: flex;
    padding-top: 60px;
    padding-bottom: 40px;
    gap: 10px;
    margin-bottom: 100px;
}

.main_page__box {
    transition: transform 300ms ease-in-out;
    border-radius: 2px;
    flex: 1;
}

.main_page__item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0px 20px;
    height: 120px;
    font-size: 22px;
    font-weight: bold;
    opacity: 0.6;
}

.main_page__item svg {
    width: 50px;
    height: 50px;
    position: relative;
}

.main_page__item h3 {
    line-height: 1;
    flex-wrap: nowrap;
}

.main_page__box:hover {
    transform: translateY(-5px);
    box-shadow: 5px 5px 22px rgba(0, 0, 0, 0.3);
    clip-path: inset(0 -10px -10px 0);
}

.main_page__section3 {
    display: flex;
    justify-content: space-around;
    background-image: url('/backline.png');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    margin-bottom: 100px;
    padding: 0 0 60px 0;
}

.main_page__section3 h4 {
    font-size: 22px;
}

.main_page__stiker_pack {
    position: relative;
    /* border: 1px solid; */
}

.main_page__stiker {
    /* padding-bottom: 0;
    margin-bottom: 0; */
}

.main_page__stiker_bag {
    position: absolute;
    left: 40px;
    top: 20px;
    transition: transform 200ms ease-in-out;
}

.main_page__stiker_bag:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.main_page__view {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.7;
    gap: 0;
}

.main_page__view svg {
    width: 120px;
    fill: #64C9C1;
    transition: transform 200ms ease-in-out;
    cursor: pointer;
    margin-top: 10px;
}

.main_page__view svg:hover {
    transform: scale(1.1);
}

.main_page__view h4 {
    margin-bottom: 0;
}

.main_page__section4 {
    display: flex;
    background-image: url('/kids_bunner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    margin-bottom: 60px;
    border-radius: 40px;
    position: relative;
}

.main_page__section4_message {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    background-color: rgb(238, 252, 254);
    position: absolute;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 70%;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    left: 0;
    border: 4px solid rgb(209, 227, 232);
}

.main_page__section4_message h4 {
    text-align: center;
}

.main_page__section4_message i {
    font-size: 48px;
    font-weight: bold;
    color: rgb(46, 198, 254);
    text-shadow:
        0 0 0.2em rgba(46, 198, 200, 0.9),
        0.05em 0.05em 0px rgba(0, 100, 150, 0.8),
        0.1em 0.1em 0px rgba(0, 50, 100, 0.5);

}

.main_page__section5 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    margin-bottom: 50px;
    margin-top: 50px;
}

.main_page__section5_photo_left,
.main_page__section5_photo_right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main_page__section5_description {
    display: flex;
    flex-direction: column;
    gap: 0;
    flex: 1;
}

.main_page__section5_description h1 {
    font-size: 32px;
    opacity: 0.7;
    line-height: 1;
    text-align: center;
    margin-bottom: 0;
}

.main_page__section5_description p {
    font-size: 18px;
    text-align: center;
    margin: 10px;
}

.main_page__section5_description a {
    align-self: center;
}

.main_page__section5_description button {
    background-color: #BBAFE8;
    color: white;
    font-weight: bold;
    text-shadow: 1px;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    transition: transform 300ms ease-in-out;
}

.main_page__section5_description button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.main_page__section5_description button:active {
    background-color: #a18de8;
}

.section5_photo1 {
    border-radius: 20px;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
}

.section5_photo3 {
    border-radius: 20px;
    position: absolute;
    z-index: 2;
    top: 15%;
    left: 35%;
}


.section5_photo2 {
    border-radius: 20px;
    position: absolute;
    z-index: 4;
    top: 30%;
    left: 10%;
}

.section5_photo4 {
    border-radius: 20px;
    position: absolute;
    z-index: 4;
    top: 50%;
    left: 40%;
}

.section5_photo5 {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.main_page__section6 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url('/backline.png');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    margin-bottom: 20px;
    padding: 0 0 60px 0;
    margin-top: 100px;
    overflow: hidden;
}



@media (max-width: 480px) {

    .main_page__head {
        height: 30vh;
    }

    .main_page__lozung {
        width: 70px;
        height: 70px;
    }

    .main_page__logo {
        top: 30px;
        left: 10px;
        width: 20%;
        height: 34%;
    }

    .main_page__section2 {
        padding-top: 0;
        margin-bottom: 40px;
        padding-bottom: 0;
        padding-top: 20px;
        flex-wrap: wrap;
    }

    .main_page__box:hover {
        transform: none;
        box-shadow: none;
        clip-path: none;
    }

    .main_page__item {
        justify-content: flex-start;
        height: 40px;
        font-size: 12px;
    }

    .main_page__item svg {
        width: 30px;
        height: 30px;
    }

    .main_page__section3 {
        margin-bottom: 10px;
        padding-bottom: 150px;
        height: 1vh;
        gap: 10px;
        flex-wrap: wrap;
    }

    .main_page__stiker_pack {
        height: 70px;

    }

    .main_page__stiker {
        width: 70px;
        height: 70px;
    }

    .main_page__stiker_bag {
        width: 30px;
        height: 55px;
        left: 20px;
        top: 7.5px;
    }

    .main_page__view {
        height: 30px;
        text-align: center;
        padding-left: 20px;
        padding-top: 2px;
        flex-direction: row;
        width: 32%;
        border-top: 2px solid;
    }

    .main_page__view svg {
        width: 40%;
        cursor: none;
    }

    .main_page__view svg:hover {
        transform: none;
    }

    .main_page__view h4 {
        text-align: center;
        margin-top: 0;
        font-size: 12px;
        line-height: 0.9;
    }

    .main_page__section4 {
        height: 30vh;
        border-radius: 20px;
    }

    .main_page__section4_message {
        align-items: baseline;
        border-top-right-radius: 40%;
        border-bottom-right-radius: 70%;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        top: -0.5px;
        height: 97%;
    }

    .main_page__section4_message h4 {
        font-size: 18px;
    }

    .main_page__section4_message i {
        font-size: 22px;
    }

    .main_page__section5 {
        height: 50vh;
        flex-direction: row-reverse;
        margin-bottom: 0;
        margin-top: 0;
    }

    .main_page__section5_photo_left {
        display: none;
    }

    .main_page__section5_description {
        height: 50vh;
    }

    .main_page__section5_photo_right img {
        height: 50vh;
    }

    .main_page__section5_description h1 {
        font-size: 16px;
    }

    .main_page__section5_description p {
        font-size: 9px;
        margin: 5px;
    }

    .main_page__section5_description button {
        border-radius: 5px;
        padding: 5px 10px;
        font-size: 9px;
    }

    .main_page__section6 {
        margin-bottom: 0;
        padding: 0 0 10px 0;
        margin-top: 0;
        height: 30vh;
    }
}

@media (max-width: 767px) {}

@media (min-width: 768px) and (max-width: 979px) {}

@media (min-width: 1200px) {}