.sliderContainer {
    width: 100%;
}

.sliderWrapper {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    height: 30vh;
}

.slider {
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease-in-out;
    position: relative;
}

.slide {
    overflow: hidden;
    flex-shrink: 0;
    width: 250px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide img {
    transition: transform 0.2s ease-in-out;
}

.slide img:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.arrows {
    height: max-content;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    top: 45%;
}

.arrow_left,
.arrow_right {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid rgba(46, 198, 254, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    transform: translateY(-50%);
}

.arrow_left {
    left: 8px;
}

.arrow_right {
    right: 8px;
}

.arrow_left:hover,
.arrow_right:hover {
    background-color: rgba(187, 175, 232, 0.5);
    cursor: pointer;
}

.arrow_left svg,
.arrow_right svg {
    transition: transform 0.2s ease-in-out;
}

.arrow_left:hover svg {
    transform: translateX(-5px);
}

.arrow_right:hover svg {
    transform: translateX(5px);
}

.arrow_left:active,
.arrow_right:active {
    background-color: rgba(152, 128, 239, 0.5);
}

@media (max-width: 480px) {

    .sliderWrapper {
        height: 10vh;
    }

    .slide {
        width: 125px;
    }

    .slide img {
        width: 75px;
        height: 75px;
    }
    
.arrows {
    height: max-content;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    top: 57%;
}

.arrow_left,
.arrow_right {
    width: 40px;
    height: 40px;
}
}

@media (min-width: 480px) and (max-width: 767px) {
    .sliderWrapper {
        height: 10vh;
    }

    .slide {
        width: 125px;
    }

    .slide img {
        width: 75px;
        height: 75px;
    }
    
.arrows {
    height: max-content;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    top: 57%;
}

.arrow_left,
.arrow_right {
    width: 40px;
    height: 40px;
}
}