.sliderContainer {
    width: 100%;
    height: max-content;
}

.sliderWrapper {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    height: fit-content;
    padding: 1% 0;
}


.slider {
    display: flex;
    gap: 10px;
    transition: transform 0.5s ease-in-out;
    position: relative;
}

.slide {
    overflow: hidden;
    flex-shrink: 0;
    width: 225px;
    border-radius: 18px;
    background-color: #fff;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide img {
    transition: transform 0.2s ease-in-out;
}

.slide img:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.arrows {
    height: max-content;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    top: 50%;
}

.arrow_left,
.arrow_right {
    position: absolute;
    width: 54px;
    height: 54px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid rgba(46, 198, 254, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    transform: translateY(-50%);
}

.arrow_left {
    left: 8px;
}

.arrow_right {
    right: 7px;
}

.arrow_left:hover,
.arrow_right:hover {
    background-color: rgba(187, 175, 232, 0.5);
    cursor: pointer;
}

.arrow_left svg,
.arrow_right svg {
    transition: transform 0.2s ease-in-out;
}

.arrow_left:hover svg {
    transform: translateX(-5px);
}

.arrow_right:hover svg {
    transform: translateX(5px);
}

.arrow_left:active,
.arrow_right:active {
    background-color: rgba(152, 128, 239, 0.5);
}

@media (max-width: 480px) {

    .slide {
        width: 112px;
    }

    .slide img {
        width: 67px;
        height: 67px;
    }

    .arrows {
        top: 55%;
    }

    .arrow_left,
    .arrow_right {
        width: 36px;
        height: 36px;
    }
}

@media (min-width: 480px) and (max-width: 767px) {

    .slide {
        width: 112px;
    }

    .slide img {
        width: 67px;
        height: 67px;
    }

    .arrows {
        top: 57%;
    }

    .arrow_left,
    .arrow_right {
        width: 36px;
        height: 36px;
    }
}

@media (min-width: 768px) and (max-width: 1025px) {
    .arrows {
        top: 57%;
    }
}