.root {
    position: relative;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px 38px;
    width: 70%;
    border-radius: 10px;
    font-size: 16px;
    transition: all;
}

.input:focus {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.icon {
    width: 20px;
    height: 20px;
    opacity: 0.3;
    position: absolute;
    left: 10px;
    top: 10px;
}

.clearIcon {
    width: 20px;
    height: 20px;
    opacity: 0.3;
    position: absolute;
    right: 12px;
    top: 10px;

    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}

@media (max-width: 480px) {
    .input {
        padding: 6px 30px;
        border-radius: 5px;
        font-size: 10px;
    }

    .icon {
        width: 14px;
        height: 14px;
        top: 5px;
        left: 10px;
    }

    .clearIcon {
        width: 14px;
        height: 14px;
        right: -30%;
        top: 5px;
    }
}