.wallets__wrap {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-image: url("/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main {
    width: 100%;
    flex-wrap: wrap;
}

.wallets__section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 97%;
    gap: 10px;
    padding: 3% 10px 3% 10px;
}

.back_to_main {
    width: max-content;
    margin: 1.5%;
}

.back_to_main a {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
    font-size: 16px;
    gap: 5px;
}

.back_to_main h4 {
    margin: 0;
}

.back_to_main svg {
    width: 20px;
    height: 20px;
}

@media (max-width: 767px) {

    .wallets__section {
        gap: 4px;
    }

    .back_to_main a {
        font-size: 12px;
    }

    .back_to_main svg {
        width: 16px;
        height: 16px;
    }
}