.bags__card {
  width: 211px;
  height: 100%;
  min-height: 320px;
  border-radius: 20px;
  border: 1px solid rgba(127, 255, 212, 0.2);
  overflow: hidden;
  background-color: #FFFFFF;
  box-sizing: border-box;

  &:hover {
    box-shadow: 0px 10px 34px 5px rgba(225, 223, 223, 0.75);
    transform: translateY(-0.8px);
    transition: transform 100ms ease-in-out;

  }
}

.card {
  text-align: center;
}

.card h4 {
  display: inline-block;
  opacity: 0.9;
  overflow: hidden;
  hyphens: auto;
  height: 10%;
  min-height: 50px;
  padding-bottom: 2%;
  margin-bottom: 0;
  font-size: 16px;
}

.bags_card__bottom i {
  color: #008000;
  font-size: 14px;
  margin-bottom: 5px;
}

.bags__card svg {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 20%;
  height: 20%;
}

.bags__card svg:hover {
  background-color: rgb(217, 214, 214);
}

.svg_by {
  fill: green;
}

.link {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 25vh;
  overflow: hidden;
  border-bottom: 3px solid rgba(127, 255, 212, 0.5);
}

.link img {
  align-self: center;
  max-width: 80%;
  max-height: 90%;
}

.bags_card__bottom {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  position: relative;
  min-height: 120px;
}

.bags_card__bottom span {
  font-size: 20px;
  color: #3E77AA;
}


@media (max-width: 456px) {
  .bags__card {
    width: 48%;
    min-width: 48%;
    border-radius: 0;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 30%;
    min-height: 38vh;
  }

  .link img {
    object-fit: contain;
  }

  .card h4 {
    font-size: clamp(3vw, 3vw, 3vw);
    margin: 1vh 2px;
  }

  .bags__card svg {
    bottom: 1vh;
  }

  .bags_card__bottom {
    margin: 0 auto;
    height: 100%;
    box-sizing: border-box;
  }

  .bags_card__bottom span {
    font-size: clamp(2vw, 4vw, 4vw);

  }

  .bags_card__bottom i {
    margin-top: 1vh;
    font-size: 1vh;
  }

}

@media (min-width: 457px) and (max-width: 1023px) {
  .bags__card {
    min-width: 49%;
    border-radius: 0;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 60%;
  }

  .card h4 {
    font-size: clamp(3vw, 3vw, 3vw);
    min-height: 75px;
  }

  .bags__card svg {
    bottom: 0;
  }

  .bags_card__bottom i {
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 2vh;
  }

  .bags_card__bottom {
    margin: 0 auto;
    height: 100%;
    box-sizing: border-box;
  }

  .bags_card__bottom span {
    font-size: clamp(4vw, 2vw, 2vw);
  }
}