.bags__card {
  width: 211px;
  max-width: 210px;
  height: 35%;
  max-height: 350px;
  font-size: 16px;
  border-radius: 20px;
  border: 1px solid rgba(127, 255, 212, 0.2);
  overflow: hidden;
  background-color: #FFFFFF;
  flex-wrap: wrap;

  &:hover {
    box-shadow: 0px 10px 34px 5px rgba(225, 223, 223, 0.75);
    transform: translateY(-0.8px);
    transition: transform 100ms ease-in-out;

  }
}

.card {
  text-align: center;
}

.card h4 {
  display: inline-block;
  opacity: 0.9;
  overflow: hidden;
  hyphens: auto;
  height: 3.8cap;
  padding-bottom: 2%;
  margin-bottom: 0;
}

.bags_card__bottom i {
  color: #008000;
}

.bags__card svg {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 20%;
  height: 20%;
}

.bags__card svg:hover {
  background-color: rgb(217, 214, 214);
}

.svg_by {
  fill: green;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product {
  border-bottom: 3px solid rgba(127, 255, 212, 0.5);
  width: 100%;
}

.bags_card__bottom {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
  height: 120px;
  position: relative;
}


@media (max-width: 456px) {
  .bags__card {
    width: 48%;
    min-height: 50vh;
    border-radius: 0;
    font-size: 40%;
  }

  .link img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    background-color: #FFFFFF;
  }

  .card h4 {
    padding-bottom: 4vh;
    font-size: clamp(5vw, 3vw, 3vw);
  }

  .bags__card svg {
    width: 3vh;
    height: 3vh;
    bottom: -15vh;
  }

  .bags_card__bottom {
    margin: 0 auto;
  }

  .bags_card__bottom span {
    font-size: clamp(5vw, 4vw, 4vw);
  }

  .bags_card__bottom i {
    font-size: clamp(5vw, 4vw, 4vw);
  }

}

@media (min-width: 457px) and (max-width: 1023px) {
  .bags__card {
    min-height: 50vh;
    /* min-width: 32%; */
    min-width: 49%;
    border-radius: 0;
    font-size: 60%;
  }

  .link img {
    width: 25vw;
    /* aspect-ratio: 1 / 2;
    object-fit: contain; */
    height: 25vh;
    background-color: #FFFFFF;

    min-width: 100%;
    min-height: 100%;

    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  .card h4 {
    padding-bottom: 4vh;
    font-size: clamp(3vw, 3vw, 3vw);
  }

  .bags__card svg {
    width: 3vh;
    height: 3vh;
    bottom: -10vh;
  }

  .bags_card__bottom i {
    font-size: clamp(2vw, 2vw, 2vw);
  }

  .bags_card__bottom {
    margin: 0 auto;
  }

  .bags_card__bottom span {
    font-size: clamp(2vw, 4vw, 4vw);
  }
}