.settings__wrap {
    width: 97%;
    display: flex;
    justify-content: space-between;
    position: relative;
    font-size: 18px;
    min-height: 50px;
}

.settings__filter_btn {
    display: flex;
    gap: 6%;
    margin-left: 2%;
}

.settings__filter_btn span {
    min-width: max-content;
    height: max-content;
    align-self: center;
}

.settings__sort_popup {
    bottom: 0;
    top: 0;
    right: 2%;
    position: absolute;
}

.settings__filter_btn button {
    display: flex;
    align-self: center;
    align-items: center;
    gap: 8px;
    margin-left: 2%;
    padding: 0px 40px;
    background-color: #3E77AA;
    border: none;
    color: white;
    border-radius: 6px;
    font-size: 16px;
}

.settings__filter_btn button svg {
    width: 20px;
    height: 20px;
}


@media (max-width: 301px) {

    .settings__filter_btn button {
        padding: 0 20px;
        border-radius: 4px;
        font-size: 12px;
    }

    .settings__filter_btn button p {
        margin: 0;
        padding: 4%;
    }
}

@media (min-width: 301px) and (max-width: 622px) {

    .settings__filter_btn button {
        padding: 8px 20px;
        border-radius: 4px;
        font-size: 16px;
        gap: 5px;
    }

    .settings__filter_btn button p {
        margin: 0;
    }

    .settings__filter_btn button svg {
        width: 30px;
    }

    .settings__sort_popup {
        margin-right: 4%;
    }
}

@media (max-width: 642px) {
    .count {
        display: none;
    }
}