.all_product__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    background-image: url("/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.aside {
    display: none;
}

.all_products__content {
    flex: 2;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 97%;
    height: fit-content;
    gap: 10px;
    margin-bottom: 40px;
    padding: 10px;
}

@media (max-width: 767px) {
    .all_products__content {
        gap: 4px;
    }
}