.all_product__wrap {
    display: flex;
    width: 100%;
    background-image: url("/BagsShop/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    gap: 50px;
}

.aside {
    margin-left: 20px;
}

.all_products__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    gap: 20px;
    margin-bottom: 40px;
}

/* .all_products__content a {
    text-decoration: none;
    color: inherit;
} */